/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Knewave&display=swap');

/* colour scheme:
#fffefe offwhite
#191110 brown
#ff7e6b salmon
#ffb6ad light pink */

/* CSS Variables */
:root {
    --primary-font: 'Funnel Sans', sans-serif;
    --secondary-font: 'Knewave', cursive;
}

/* General Styles */
body {
    font-family: var(--primary-font);
    background-color: #fffefe;
    color: #191110
}

h1 {
    font-family: var(--secondary-font);
}

/* Header */
/* Navbar */
nav {
    background-color: #ff7e6b !important;


}

/* hero image */
#hero {
    margin: 0;
    width: 100vw;
    height: 500px;
    background: url("../images/hero.webp") no-repeat center 40px/cover;
    text-align: center;
    /* Flexbox to make the hero text responsive */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero h1 {
    font-size: 3rem;
}