/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Knewave&display=swap');

/* colour scheme:
#fffefe offwhite
#191110 brown
#ff7e6b salmon
#ffb6ad light pink */

/* CSS Variables */
:root {
    --primary-font: 'Funnel Sans', sans-serif;
    --secondary-font: 'Knewave', cursive;
}

/* General Styles */
body {
    font-family: var(--primary-font);
    background-color: #fffefe;
    color: #191110
}
/* heading style */
h1 {
    text-transform: uppercase;
}
h1, h2, h3, h4{
    font-family: var(--secondary-font);
}

section {
    padding-top: 2rem;
    margin:auto;
    text-align: center;
}

span {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}
/* list styles */
ol, ul{
list-style: none;
padding-left: 0;
}
li{
    padding: 10px;
        text-align: justify;
}

i{
    font-size: 1rem;
}
/* Header */
/* Navbar */
nav {
    background-color: #ff7e6b;
    border: #191110 solid 1px;
}


/* hero image */
#hero {
    width: 100vw;
    height: 500px;
    background: url("../images/hero.webp") no-repeat center/cover;
    text-align: center;
    /* Flexbox to make the hero text responsive */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fffefe;
    border-bottom: #191110 solid 1px;
}

#hero h1 {
    font-size: 3rem;
}

#hero h1,
h2 {
    margin: 1rem auto;
    /* text shadow to help text stand out */
    text-shadow: 2px 3px #191110;
}

/* main */
/* about */
/* #about img { #
} */
#about span {
    font-size: 1.2rem;

}

#about ol li{
    padding: 10px;
    text-align: justify;
}

#about .goals{
    margin:auto 1rem;
}

/* tips and advice section */
#tips .col-12{
    border-left: #191110 solid 1px;
    border-right: #191110 solid 1px;
}

/* media queries */
/* tablets and up */
@media only screen and (min-width: 768px){
    section{
        padding: 5%;  
    }
}
